body{
    min-height: 100vh;
    position: relative;
}
main{
    padding-bottom: 80px;
}
.footer{
    background-color: #f3f4f5;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.brand-icon{
    font-size: 2.5rem;
    color: #000;
    transition: opacity 0.2s;
}
.brand-icon:hover{
    opacity: 0.6;
}

.nav-item{
    transition: background-color 0.2s;
}
.nav-item:hover{
    background-color: #00000008;
}

.card{border-left: 3px solid #3448c0}